body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.b{
  font-weight: bold;
}

.hr{
  border-top: 1px solid #EDEBEB;
  width: 100%;
}


